# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Next\app-next\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
